@charset "utf-8";

/*

   Columns Style Sheet
   Author: Laura Coombs
   Date:   23 March 2024

   Filename:         dlr_columns2.css

*/



/* Column Styles */


@media only screen and (min-width: 641px) {
    p#introduction {
        column-count: 3;
        column-gap: 20px;
        column-rule: 1px solid black;
    }
}
